<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container my-5">
    <h1>About This Project</h1>
    <hr>

    <h4>👨‍💻 Developer</h4>
    <p>Pradipta Haldar</p>

    <h4>🚀 Project</h4>
    <p>This is a Todo Web App built using Flask and MySQL.</p>

    <h4>⚙️ How I Built It</h4>
    <ul>
        <li>Used Flask for backend</li>
        <li>Connected MySQL database using mysql.connector</li>
        <li>Created routes for adding and displaying tasks</li>
        <li>Used HTML + Bootstrap for frontend</li>
    </ul>

    <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Go Back</a>
</div>

</body>
</html>